#titleBar{
    color:red;
    width : 100%;
    height: 20px;
}

#timetable{
    color:orange;
    width: 50%;
}

#memberList{
    color:yellow;
    height : 300px;
}

#conditionList{
    color:green;
    height : 300px;
}

#recommendTime{
    color:blue;
    height : 100px;
}