#titleBar{
    background-color:red;
    width : 100%;
    height: 20px;
}

.centerContent{
    max-width:900px;
    margin:auto;
}

#timetable{
    background-color:orange;
}

.deleteButton{
    float:right;
    margin-top:10px;
}

ul{
    border: 1px solid black;
    height : 200px;
    width : 250px;
    padding: 0 20px 10px 20px;
    overflow: auto;
    list-style-type:none;
}

li{
    font-size: 15px;
}

#memberList{
    background-color:yellow;
}

#conditionList{
    background-color:green;
}

#recommendTime{
    background-color:blue;
    height : 50px;
}

.halfblock{
    float:left;
    margin:10px;
}

.range{
    width: 150px;
}

.time{
    width: 50px;
    border: 1px solid black;
}